{% extends "base.html" %}
{% block content %}
{% load permissions %}
{% load static %}

<div style="display: flex; justify-content: center; align-items: center; gap: 5%; padding: 20px; width: 100%; max-width: 1600px; margin: 0 auto; flex-wrap: wrap; box-sizing: border-box;">
    <!-- Image Container -->
    <div style="flex-shrink: 0; max-width: 600px; max-height: 500px; width: 50vw; height: 50vw; display: flex; align-items: left; justify-content: left; border: 1px solid #ffffff;">
        <img src="{% if walk.animal.image_url %}{{ walk.animal.image_url }}{% else %}{% static 'images/default_animal.png' %}{% endif %}"
            style="width: 100%; height: 100%; object-fit: contain;">
    </div>

    <!-- Walk Details -->
    <div style="flex-grow: 1; text-align: left; max-width: 600px;">
        <h1 style="margin: 0; font-size: 3.5rem;">{{ walk.animal.name }}</h1>
        {% if walk.volunteer != none %}
            <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Volunteer:</strong> {{ walk.volunteer.first_name }} {{ walk.volunteer.last_name }} ({{ walk.volunteer.username }})</p>
        {% else %}
            <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Volunteer:</strong></p>
        {% endif %}
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Caregiver:</strong> {{ walk.caregiver.first_name }} {{ walk.caregiver.last_name }} ({{ walk.caregiver.username }})</p>
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Begin Time:</strong> {{ walk.begin_time }}</p>
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>End Time:</strong> {{ walk.end_time }}</p>
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Status:</strong> {{ walk.get_status_display }}</p>

        <!-- Action Buttons -->
        {% if user.is_authenticated %}
        <div class="walk-actions-detail d-flex align-items-start">
            <form class="d-flex align-items-center" method="post">
                {% csrf_token %}
                {% if user|can_manage_walks %}
                    <a href="{% url 'walk_edit' walk.id %}" class="btn btn-warning btn-lg me-2">Edit</a>
                    <button type="submit" formaction="{% url 'walk_delete' walk.id %}" class="btn btn-danger btn-lg me-2">
                        Delete
                    </button>
                {% endif %}
                <a href="{% url 'walks_list' id=walk.animal.id %}" class="btn btn-info btn-lg me-2">Walk Schedule</a>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!-- Walk Description -->
<div style="margin-top: 50px; padding: 30px; font-size: 1.8rem; max-width: 1400px; margin: 0 auto; text-align: justify;">
    <p>{{ walk.description }}</p>
</div>

{% endblock %}