{% extends "base.html" %}
{% block content %}
{% load permissions %}
{% load static %}
<div style="display: flex; justify-content: center; align-items: center; gap: 5%; padding: 20px; width: 100%; max-width: 1600px; margin: 0 auto; flex-wrap: wrap; box-sizing: border-box;">
    <!-- Image Container -->
    <div style="flex-shrink: 0; max-width: 600px; max-height: 500px; width: 50vw; height: 50vw; display: flex; align-items: left; justify-content: left; border: 1px solid #ffffff; ">
        <img src="{% if animal.image_url %}{{ animal.image_url }}{% else %}{% static 'images/default_animal.png' %}{% endif %}"
            style="width: 100%; height: 100%; object-fit: contain;">
    </div>

    <!-- Animal Details -->
    <div style="flex-grow: 1; text-align: left; max-width: 600px;">
        <h1 style="margin: 0; font-size: 3.5rem;">{{ animal.name }}</h1>
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Species:</strong> {{ animal.species }}</p>
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Date of Birth:</strong> {{ animal.date_of_birth }}</p>
        <p style="font-size: 1.8rem; margin: 10px 0;"><strong>Intake Date:</strong> {{ animal.intake_date }}</p>

        <!-- Action Buttons -->
        {% if user.is_authenticated %}
        <div class="animal-actions-detail d-flex align-items-start">
            <form class="d-flex align-items-center" method="post">
                {% csrf_token %}
                {% if user|is_volunteer %}
                    <a href="#" class="btn btn-info btn-lg me-2">Schedule a walk</a>
                {% elif user|is_vet %}
                    <a href="#" class="btn btn-info btn-lg me-2">Health records</a>
                {% elif user|can_manage_animals %}
                    <div style="display: flex; flex-wrap: wrap; gap: 10px;">
                        <div style="flex-basis: 100%; display: flex; gap: 10px;">
                            <a href="{% url 'walk_create' animal.id %}" class="btn btn-success btn-lg me-2">Create a walk</a>
                            <a href="{% url 'walks_list' id=animal.id %}" class="btn btn-info btn-lg me-2">Walk schedule</a>
                        </div>
                        <div style="flex-basis: 100%; display: flex; gap: 10px;">
                            <a href="{% url 'health_records_detail' animal.id %}" class="btn btn-info btn-lg me-2">Health Records</a>
                            <a href="{% url 'animal_edit' animal.id %}" class="btn btn-warning btn-lg me-2">Edit</a>
                            <button type="submit" formaction="{% url 'animal_delete' animal.id %}" class="btn btn-danger btn-lg">
                                Delete
                            </button>
                        </div>
                    </div>
                {% endif %}
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}