{% extends "base.html" %}
{% block content %}
{% load permissions %}
{% load static %}

<div class="container mt-4">
    <!-- Animal Details and Create Request Button -->
    <div class="d-flex justify-content-between align-items-start mb-4">
        <!-- Image Container -->
        <div class="d-flex align-items-center">
            <div style="flex-shrink: 0; max-width: 150px; max-height: 200px; width: 50vw; height: 50vw; display: flex; align-items: left; justify-content: left; border: 1px solid #ffffff; padding-right: 15px;">
                <img src="{% if animal.image_url %}{{ animal.image_url }}{% else %}{% static 'images/default_animal.png' %}{% endif %}"
                    style="width: 100%; height: 100%; object-fit: contain;">
            </div>
            <div>
                <h3>{{ animal.name }}</h3>
                <p class="fs-6"><strong>Species:</strong> {{ animal.species }}</p>
                <p class="fs-6"><strong>Date of Birth:</strong> {{ animal.date_of_birth }}</p>
                <p class="fs-6"><strong>Intake Date:</strong> {{ animal.intake_date }}</p>
                <p class="fs-6"><strong>Description:</strong> {{ animal.description }}</p>
            </div>
        </div>

        <!-- Create Request Button -->
        {% if logged_in_user|can_create_health_records %}
        <div>
            <a href="{% url 'health_records_create' animal.id %}" class="btn btn-success">Create Request</a>
        </div>
        {% endif %}
    </div>

    <!-- Health Records -->
    <div class="mt-5">
        {% if health_records %}
            <ul class="list-group mt-4">
                {% for record in health_records %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <h5 class="mb-1">Status: {{ record.get_status_display }}</h5>
                            <p class="mb-1"><strong>Request Date:</strong> {{ record.request_date }}</p>
                            <p class="mb-1"><strong>Caregiver:</strong> {{ record.caregiver.first_name }} {{ record.caregiver.last_name }} ({{ record.caregiver.username }})</p>
                            <p class="mb-1"><strong>Description:</strong> {{ record.description }}</p>
                            {% if record.veterinarian %}
                            <p class="mb-1"><strong>Veterinarian:</strong> {{ record.veterinarian.first_name }} {{ record.veterinarian.last_name }} ({{ record.veterinarian.username }})</p>
                            {% else %}
                            <p class="mb-1"><strong>Veterinarian:</strong> None</p>
                            {% endif %}
                            <p class="mb-1"><strong>Examination Date:</strong> {{ record.examination_date }}</p>
                            <p class="mb-1"><strong>Result:</strong> {{ record.result }}</p>
                        </div>
                        <div class="record-actions ms-3">
                            {% if user|can_manage_health_records and not record.veterinarian %}
                            <form method="post" action="{% url 'choose_health_record' animal.id record.id %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary btn-sm me-2">Choose</button>
                            </form>
                            {% endif %}
                            {% if user|can_create_health_records and record.status == record.Status.REQUESTED and user.id == record.caregiver.id%}
                            <a href="{% url 'health_records_caregiver_edit' animal.id record.id %}" class="btn btn-warning btn-sm me-2">Edit</a>
                            {% elif user|can_manage_health_records and record.veterinarian == user and user.id == record.veterinarian.id %}
                            <a href="{% url 'health_records_vet_edit' animal.id record.id %}" class="btn btn-warning btn-sm me-2">Edit</a>
                            {% endif %}
                            <form method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" formaction="{% url 'health_records_delete' animal.id record.id %}" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No health records available for this animal.</p>
        {% endif %}
    </div>
</div>

{% endblock %}