{% extends "base.html" %}

{% block title %}Detail user{% endblock %}

{% block content %}
<h1>User Details</h1>
<p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Deactivated:</strong> {{ user.is_active|yesno:"No,Yes" }}</p>

{% if profile_page %}
<a href="{% url 'profile_edit' %}">Edit</a>
{% else %}
<a href="{% url 'user_edit' id=user.id %}">Edit</a>
{% endif %}

{% endblock %}