{% extends "base.html" %}

{% block title %}{% if profile_page %}Your profile{% else %}{{ user.username }} - Profile detail{% endif %}{% endblock %}

{% block content %}

{% if profile_page %}
<h1>Detail of your profile</h1>
{% else %}
<h1>Detail of {{ user.username }}'s profile</h1>
{% endif %}

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p>
<p><strong>Email:</strong> {{ user.email }}</p>
<p><strong>Contact:</strong> {{ user.contact }}</p>
<p><strong>Role:</strong> {{ user.role }}</p>
<p><strong>Status:</strong> {{ user.is_active|yesno:"Active,Banned" }}</p>

{% if profile_page %}
    <a class="btn btn-primary" href="{% url 'profile_edit' %}">Edit</a>
    <a class="btn btn-secondary" href="{% url 'change_password' %}">Change password</a>
{% else %}
    {% if user.modifiable or logged_in_admin %}                        
        <a class="btn btn-primary" href="{% url 'user_edit' id=user.id %}">Edit</a>
        {% if user.modifiable %}
        <a class="btn btn-secondary" href="{% url 'reset_password' id=user.id %}">Reset password</a>
        {% endif %}
    {% endif %}
    <a class="btn btn-info" href="{% url 'users_list' %}">Go back</a>
{% endif %}

{% if messages %}
<ul>
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}