.animal-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
}

.animal-item-link {
  display: flex;
  flex-grow: 0;
  max-width: 100%;
  color: inherit;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.animal-image-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 8px;
}

.animal-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.animal-details {
  flex-grow: 1;
  max-width: calc(100% - 180px);
}

.animal-details h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.animal-details .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
}

.animal-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: auto;
  align-self: flex-end;
}

.animal-actions form {
  margin: 0;
  padding: 0;
  display:inline;
}

.animal-actions .btn-sm {
  font-size: 1rem;
  margin-right: 8px;
  white-space: nowrap;
}

.animal-actions-detail {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; /* Aligns buttons with the top of the text */
  justify-content: flex-start;
  margin-top: 20px; /* Keeps the spacing between the animal details and buttons */
  margin-left: 0; /* Remove any left margin to fix the gap */
}

.animal-actions-detail .btn-lg {
  font-size: 1.4rem; /* Adjust the button size for consistency */
  margin-right: 12px; /* Adds spacing between buttons */
  white-space: nowrap; /* Prevents buttons from wrapping */
}

.animal-list {
  margin-top: 20px;
}

form {
  margin-bottom: 20px;
}
